<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>tom</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/botui/build/botui.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/botui/build/botui-theme-default.css" />
    <link rel="stylesheet" href="stylesheets/style.css" />

    <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyDIi6TOJCv8GEn0LxWgwkxlkEWCykIWQRQ",
        authDomain: "feelingsbot-509ae.firebaseapp.com",
        databaseURL: "https://feelingsbot-509ae.firebaseio.com",
        projectId: "feelingsbot-509ae",
        storageBucket: "feelingsbot-509ae.appspot.com",
        messagingSenderId: "303710527955"
      };
      firebase.initializeApp(config);
    </script>
  </head>
  <body>
      <%# Bot Declaration%>
    <div class="botui-app-container" id="api-bot">
      <bot-ui></bot-ui>
    </div>

    <%# JS STUFF%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/vue/latest/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/botui/build/botui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/botui/build/botui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <script src="javascripts/color.js"></script>
    <script src="javascripts/convo.js"></script>
  </body>
</html>
